<!-- principal.component.html -->

<div>
  <h2>Listado de Bibliotecas</h2>

  <!-- Mostrar bibliotecas -->
  <ul>
    <li *ngFor="let biblioteca of bibliotecas">{{ biblioteca.nombre }} - {{ biblioteca.direccion }} - {{ biblioteca.ciudad }}</li>
  </ul>

  <hr>

  <!-- Agregar nueva biblioteca -->
  <h2>Agregar Nueva Biblioteca</h2>
  <form (submit)="agregarNuevaBiblioteca()">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="Nombre" required>

    <label for="direccion">Dirección:</label>
    <input type="text" id="direccion" name="direccion" [(ngModel)]="Direccion" required>

    <label for="ciudad">Ciudad:</label>
    <input type="text" id="ciudad" name="ciudad" [(ngModel)]="Ciudad" required>

    <button type="submit">Agregar Biblioteca</button>
  </form>
</div>
